* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #eaeaea;
  color: #111;
  line-height: 1.8;
  padding: 0 20px;
}

.hero {
  background-color: #1f1f3e;
  color: rgb(42, 42, 42);
  padding: 20px 0;
}

.container{
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #eaeaea;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.header-logo{
  display: flex;
  font-style: bold;
  font-size: 20px;
}

.header-list{
  display: flex;
  justify-content: flex-end;
}

li{
  list-style: none;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

.about {
  position: relative;
  height: 80vh;
  max-width: 900px;
  margin: 60px auto;
  text-align: center;
}

h1 {
  font-size: 48px;
  margin-bottom: 10px;
  
  position: absolute;
  right: 37%;
  top: 35%;
}

.about p {
  font-size: 16px;
  color: #444;
  position: absolute;
  top: 46%;
  right: 25%;
  padding-bottom: 5px;
}

.works,.photo{
  max-width: 900px;
  margin: 60px auto;
  text-align: center;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  display: inline-block;
  padding-bottom: 5px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
}

.work-card {
  width: 260px;
  text-align: center;
  background-color: #e2e2e2;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.work-card img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 15px;
}

.work-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.work-card p {
  font-size: 14px;
  color: #555;
  margin-bottom: 12px;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #111;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #444;
}

.footer {
  text-align: center;
  padding: 30px 0;
  font-size: 14px;
  color: #aaa;
  border-top: 1px solid #eee;
  margin-top: 60px;
}
